<h2>New song</h2>

<%= form_for @song do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>

  <br /><br />
  <%= f.submit "Save", :class => "btn btn-primary" %>
  <%= link_to "Cancel", songs_path %>
<% end %>
